/*  Base styles */
@font-face {
  font-family: 'digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
  src: url('fonts/digit-7-mono.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
}

body {
  padding-top: 1em;
  background: #B3B3B3;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  position: relative;
}

h1, p {
  text-align: center;  
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 0;
  color: #324654;
  text-transform: uppercase;
}

#options-toggle {
  display: block;
  text-align: center;
  cursor: pointer;
}

#game-options {
  z-index: 101;
  padding: 3em 1em 0 1em;
  display: none;
  width:150px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -75px;
  text-align: left;
  background: #B3B3B3;
  border: 1px solid #000;
  box-shadow: 0 0 0 3px #B3B3B3;
}

#game-options::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border: 1px solid #6D6D6D;
}

#close-options {
  position: absolute;
  top: 15px; 
  width: 50px;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
}

#game-options p {
  text-align: left;
  margin-bottom: 1em;
}

#game-options li {
  display: block;
  line-height: 1;
  margin-bottom: 0.5em;
  cursor: pointer;
  margin-left: 1em;
}

#game-options li:hover {
  color: #eaeaea;
}

.checked {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #eaeaea;
}

.reference {
  margin-top: 1em;
  color: #324654;
}

#dashboard {
  position: relative;
  box-sizing: border-box;
  color: #F6A623;
  height: 36px;
  border-top: 2px solid  #686868;
  border-left: 2px solid  #686868;
  border-right: 2px solid  #FAFAFA;
  border-bottom: 2px solid  #FAFAFA;
  font-family: 'digital-7';
  color: #E50000;
  font-size: 2em;
}

#dashboard > div {
  display: block;
}

#score {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000000;
  height: 0.7em;
  width: 1.4em;
  padding: 1px;
  line-height: 0.9em;
  text-align: left;
}

#timer {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000000;
  height: 0.7em;
  width: 1.4em;
  padding: 1px;
  line-height: 0.9em;
  text-align: right;
}

#smiley {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  border-top: 2px solid  #FAFAFA;
  border-left: 2px solid  #FAFAFA;
  border-right: 2px solid  #686868;
  border-bottom: 2px solid  #686868;
  margin: 0 auto;
  display: block;
  background-image: url('images/smiley.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center; 
}

/* Board styles */
.board {
  width: 378px;
  height: 424px;
  box-sizing: border-box;
  position: relative;
  margin: 2em auto 2em;
  border: 7px solid #AFAFAF;
}

.board::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  border-top: 2px solid  #FAFAFA;
  border-left: 2px solid  #FAFAFA;
  border-right: 2px solid  #686868;
  border-bottom: 2px solid  #686868;
}

#squares {
  margin-top: 8px;
  box-sizing: border-box;
  border-top: 2px solid  #686868;
  border-left: 2px solid  #686868;
  border-right: 2px solid  #FAFAFA;
  border-bottom: 2px solid  #FAFAFA;
  font-family: 'digital-7', sans-serif;
}

#squares > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  box-sizing: border-box;
  line-height: 32px;
  font-size: 2em;
  text-align: center;
}

.hidden {
  cursor: pointer;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #686868;
  border-bottom: 2px solid #686868;
}

.revealed {
  border: 1px solid #686868;
}

.bomb {
  background-image: url('images/bomb.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center; 
  border: 1px solid #686868;
}

.flagged {
  background-image: url('images/flag.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  cursor: auto; 
}

.wrong {
  background-image: url('images/wrong.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  cursor: auto; 
}

.exploded {
  background-color: #FF0000;
}

.count1::before {
  color: #0000FF;
  content: '1';
}

.count2::before {
  color: #046C00;
  content: '2';
}

.count3::before {
  color: #FF0000;
  content: '3';
}

.count4::before {
  color: #00006A;
  content: '4';
}

.count5::before {
  color: #680000;
  content: '5';
}

.count6::before {
  color: #0E6E6C;
  content: '6';
}

.count7::before {
  color: #000000;
  content: '7';
}

.count8::before {
  color: #6D6D6D;
  content: '8';
}